@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,*::before{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

button, input{
    font-family: 'Montserrat', sans-serif;
}

.maincontainer {
    overflow-y: scroll;
  }
  
  .AppContainer{
    width: 100%;
  }
  .read{
      cursor: pointer;
      margin-top: 0;
      text-transform: uppercase;
      background-image: linear-gradient(
          -225deg,
          red 0%,
          orange 12%,
          rgb(0, 30, 255) 25%,
          rgb(44, 47, 44) 45%,
          blue 67%,
          indigo 80%,
          violet 100%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: white;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s linear infinite;
      font-size: 60px;
  }
  @keyframes textclip {
    to{
        background-position: 200% center;
    }
  }
  